SideBar {
    align: center top;
    dock:left;
    width: 0.3fr;
    height: 1fr;
    border: solid round white;

}
.sidebutton {
    width: 0.9fr;
    content-align: center middle;
    outline: hkey $accent;
    margin: 1;
}
.mainbutton {
    width: 0.8fr;
    align: center top;
    outline: thick $accent;
    margin: 1 1;
}
HomeScreen {
    width: 0.7fr;
    align: center top;
    height: 1fr;
    border: solid round white;
}
AddScreen {
    width: 0.7fr;
    align: center top;
    height: 1fr;
    border: solid round white;
}
DeleteScreen {
    width: 0.7fr;
    align: center top;
    height: 1fr;
    border: solid round white;
}
ViewScreen {
    width: 0.7fr;
    align: center top;
    height: 1fr;
    border: solid round white;
}
VisualizeScreen {
    width: 0.7fr;
    align: center top;
    height: 1fr;
    border: solid round white;
}
Welcome {
    width: 0.7fr;
    align: center middle;
    content-align: center top;
    height: 1fr;
    border: solid round white;
}

.widget-container {
    width: 1fr;
    align: center top;
    content-align: center top;
    height: 1fr;
    border: solid round white;
}
.screen-container {
    width: 1fr;
    align: center middle;
    content-align: center top;
    height: 1fr;
}

AppHeader #cl-header-container {
  height: auto;
  background: $background;
}

AppHeader {
  dock: top;
  width: 1fr;
  padding: 1 2;
  height: 3;
  background: $background;
}
