SideBar {
    align: center top;
    dock:left;
    width: 0.3fr;
    height: 1fr;
    border: solid round white;

}
.sidebutton {
    width: 0.9fr;
    content-align: center middle;
    margin: 1;
    height: 3;
    background: $primary; 
    border: none;
}

.sidebutton:focus {
    background: $accent;
    color: $text;
    text-style: bold italic;
    border: tall white;
    /* Adding a subtle offset or lift effect */
    offset-x: 1;
}
.sidebutton > Label {
    background: transparent;
}
.mainbutton {
    width: 0.8fr;
    align: center top;
    outline: thick $accent;
    margin: 1 1;
}
HomeScreen, AddScreen, DeleteScreen, ViewScreen, VisualizeScreen {
    width: 0.7fr;
    align: center top;
    height: 1fr;
    border: solid round white;
}
Welcome {
    width: 0.7fr;
    align: center middle;
    content-align: center top;
    height: 1fr;
    border: solid round white;
}
.widget-input {
    margin: 1 0;
    background: $boost; /* Slightly different from the main background */
    border: tall $surface;
    padding: 0 1;
}

.widget-input:focus {
    border: tall $accent;
    background: $surface;
}
.widget-select {
    margin: 1 0;
    border: tall $surface;
}

.widget-select:focus {
    border: tall $accent;
    text-style: bold;
}

/* Styling the arrow/chevron in some Textual versions */
.widget-select > .select--stop {
    color: $accent;
}
.welcome-label {
    align: center top;
}

.widget-container {
    width: 1fr;
    align: center top;
    content-align: center top;
    height: 1fr;
    border: solid round white;
}
.screen-container {
    width: 1fr;
    align: center middle;
    content-align: center top;
    height: 1fr;
}

AppHeader #cl-header-container {
  height: auto;
  background: $background;
}

AppHeader {
  dock: top;
  width: 1fr;
  padding: 1 2;
  height: 3;
  background: $background;
}
